

  body, html {
    height: 100%;
  }
  

  *{
    box-sizing: border-box;
  }


  .bgimage {
    /* The image used */
    background-image: url("assets/images/regisbg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5PX);
  }



  .Login{
   
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 30px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 2; */
    width: 80%;
    padding: 20px;
    text-align: center; 
  }

  .Login h1{
    font-size: 40px;
    font-weight: bolder;
  }

  .Login input{
    background-color: transparent;
    color: white;
    font-size: large;
  }

  .error{

    color:rgba(255, 59, 59, 0.849);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
  }